@media screen and (max-width :1300px){
    .bookingFlex{
         width: 87%;
    }
 }
@media screen and (max-width :1162px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .mobileInlineblock{
        display: inline-block;
    }
    .mobileFlex{
       display:  flex;
    }
}

@media screen and (max-width :460px){
    .navTitle{
        width: 80%;
    }
    :root{
        --hamburgerMargins:4vh;
    }
}
@media screen and (max-width :350px){
    .bookingButton{
        width: 100%;
    }
}

