@media screen and (max-width :1300px){
    .bookingFlex{
         width: 87%;
    }
 }
@media screen and (max-width :1162px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .mobileInlineblock{
        display: inline-block;
    }
    .mobileFlex{
       display:  flex;
    }
}

@media screen and (max-width :460px){
    :root{
        --hamburgerMargins:2.5vh;
        --hamburgerGap:1.5vh;
        --barWidth: 12vw;
        --barHeight:.8vh;
    }
    .mobileBrNav{
        display: block;
    }
}

@media screen and (max-width :350px){
    .bookingButton,.bookingButtonH{
        width: 100%;
    }
}

