:root{
    --mainColor:white;
    --secondaryColor: rgb(242, 200, 48);
    --thirdColor: rgb(2, 1, 116);
    --lightHovercolor:rgb(255, 229, 143);
    --barWidth: 8vw;
    --barHeight:.6vh;
    --hamburgerGap:1vh;
    --foreground:white;
    --background:rgb(2, 1, 116);
    --hamburgerMargins:1vh;
    --hamburgerMarginsRight:1vh;
    --animationDely: ease-in-out 200ms;
    --hamburgerHeight: calc(var(--barHeight) * 3 + var(--hamburgerGap) * 2);
    --overflow: scroll;
}


body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    overflow: var(--overflow);
}
h1,h2,h3{
    font-weight: 400;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 1.8em;
}
h3{
    font-size: 1.5em;
    line-height: 1.7;
}
p{
    font-size: 1.2em;
    line-height: 1.7;
}
.show{
    display: block;
}
a{
    text-decoration: none;
    color: inherit;
}
/*nav*/
.nav{
    width: 100%;
    position: fixed;
    top:0;
    color:white;
    background-color: rgba(16, 21, 40, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 5000;  
    border-radius: 0px;
}
.navTitleBox{
    display: inline-flex;
    justify-content: flex-start;
    margin-left: 1.5vw;
    width: 100%;
}
.navTitle{
    display: inline-block;
    position: relative;
    height:100%;
    align-self: center;
    margin: 0%;
}
.navTitleA{
    width: max-content;
}
.navOptionsTitle{
    align-self:center;
     margin: 0%;
     transition: ease-in-out .4s;
     cursor: pointer;
}
.navOptionsTitle:hover{
    color:var(--secondaryColor)
}
.navOptions{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    top:50%;
    right:3%;
    transform: translateY(-50%);
    width: 50%;
    float: right;
    gap:3%;
    height: 100%;
}
.filler{
    height:100000px;
}
.hamburgerspacer{
    float: right;
    display: inline-flex;
    width: var(--barWidth);
    height:var(--hamburgerHeight);
    margin-right: var(--hamburgerMargins);
}
/*end nav*/
/*hamburgerMenu*/
.hambugerMenu::before,
.hambugerMenu::after,
.hambugerMenu input{
    content:"";
    width: var(--barWidth);
    height: var(--barHeight);
    background-color: var(--foreground);
    border-radius: 500px;
    transform-origin: right center;
    transition: width var(--animationDely), opacity var(--animationDely),
    rotate var(--animationDely), translate var(--animationDely),
    background-color var(--animationDely)

}
.hambugerMenu{
    --xWidth: calc(var(--hamburgerHeight) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap:var(--hamburgerGap);
    width: max-content;
    align-items: end;
    position: fixed;
    top: var(--hamburgerMargins);
    right: var(--hamburgerMarginsRight);
    z-index: 9000;
    cursor: pointer;
}
.hambugerMenu:has(input:checked){
    --foreground: rgb(2, 1, 116);
    --background:white;
}
.hambugerMenu:has(input:focus-visible)::before,
.hambugerMenu:has(input:focus-visible)::after,
.hambugerMenu input:focus-visible{
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);

}

.hambugerMenu input{
    appearance: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    pointer-events: none;
}
.hambugerMenu:has(input:checked)::before{
    rotate: -45deg;
    width: var(--xWidth);
    translate: 0 calc(var(--barHeight) / -2);
}
.hambugerMenu:has(input:checked)::after{
    rotate: 45deg;
    width: var(--xWidth);
    translate: 0 calc(var(--barHeight) / 2);
}
.hambugerMenu input:checked{
    opacity: 0;
    width:0 ;
}
/* side bar */
.sidebar{
    transition: translate var(--animationDely);
    translate: 0 -150%; 
    padding-top: calc(var(--hamburgerHeight) + var(--hamburgerMargins) + 1em);
    background-color: var(--foreground);
    color: var(--background);
    box-sizing: border-box;
    height: 100vh;
    text-align: center;
    position: fixed;
    top:0;
    z-index: 8999;
    width: 100%;
}
.hambugerMenu:has(input:checked) + .sidebar{
    translate: 0;
   
}
.sideNavFlex{
    display: flex;
    flex-direction: column;
    gap:1%;
    height: 90%;
    justify-self: center;
}
.sideNavFlex :last-child{

    border-radius:0px 0px 25px 25px;
}
.sideNavFlexItem{
    background-color: coral;
    height: 25%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sideNavFlexItemText{
    text-align: center;
    
}
/*end hamburger*/
/*main content
image stye*/
.homePic{
    /*margin-top: 8.1vh;*/
    width:100%;
    height:100%;
    object-fit: cover;
}
/*Title*/
.podcast{
    text-align: center;
}
.podcastFiller{
    height:8%;
}
/*main Intro*/
.mainIntro{
    width: 86%;
    position: relative;
    right:-50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(500px, 100%/2)), 1fr));
    row-gap: 10vh;
    justify-content: space-between;
    margin-top: 3%;
}
.mainIntroFlexgroup{
    height: 32%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mainIntroFlexgroupBoxOne{
    position: relative;
    height: 100%;
    width: 100%;
}
.mainIntroFlexgroupBoxOneImg{
    position: relative;
    top:50%;
    right:-50%;
    transform: translate(-50%,-50%); 
    width: 85%;
    height:80%;
    border-radius: 25px;
    object-fit: cover;
}
.mainIntroFlexgroupBoxTwoTextBox{
    position: relative;
    right:-50%;
    transform: translateX(-50%);
    width: 85%;
    height:80%;
}
.mainIntroFlexgroupBoxTwoTextBoxTitle, .mainIntroFlexgroupBoxTwoTextBoxText, .textCenter{
    text-align: center;
}
.mainIntroFlexgroupBoxTwo{
    position: relative;
    height:100%;
    width: 100%;
}
/*services*/
.servicesTitle, .misionStatmentTitle, .bookingTitle{
    font-size: 3em;
    width: 100%;
    text-align: center;
}
.servicesOptionsFlex {
    width: 96%;
    flex-direction: row;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(400px, 100%/3)), 1fr));
    grid-template-rows:auto;
    row-gap: 3vh;
    column-gap: 2vw;
    justify-content: center;
    border-bottom:1px solid rgba(149, 151, 149, 0.644);
    border-top:1px solid rgba(149, 151, 149, 0.644);
    margin: 2%;
    padding: 2% 0px;
}
.addtionalOptionsFlex{
    width: 96%;
    flex-direction: row;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(500px, 100%/3)), 1fr));
    grid-template-rows:auto;
    row-gap: 2vh;
    column-gap: 2vw;
    justify-items: center;
    border-bottom:1px solid rgba(149, 151, 149, 0.644);
    border-top:1px solid rgba(149, 151, 149, 0.644);
    margin: 2%;
    padding: 2% 0px;
}

.servicesOptionsFlexOption,.addtionalOptionsFlexOption{
    width: 100%;
    transition: ease-in-out .4s;
    cursor: pointer;
    border-radius: 50px;
}
.servicesOptionsFlexOption:hover, .addtionalOptionsFlexOption:hover{
    background-color: var(--lightHovercolor);
}
.servicesOptionsFlexOptionTitle, .bookingHelpText, .misionStatmentText, .servicesOptionsFlexOptionTextDescrption, .addtionalOptionsFlexOptionTitle, .servicesOptionsFlexOptionDescrption, .addtionalOptionsFlexOptionTextDescrption{
    text-align: center;
}
.servicesOptionsFlexOptionTextDescrption{
    position: relative;
    margin: 2%;
}

.addtionalOptionsTitle{
    margin-left: 2%;
}
.servicesFiller{
    height:10%;
}
.servicesOptionsFlexOptionTextBookingButton{
    line-height: 2;
    position: relative;
    right:-50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--thirdColor);
    border-radius: 5000px;
    transition: ease-in-out .4s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.servicesOptionsFlexOptionTextBookingButton:hover{
    background-color: var(--thirdColor);
    color:white;

}

/* Mission Statment*/
.misionStatment{
    width: 88%;
    position: relative;
    right:-50%;
    transform: translateX(-50%);
    color:white;
}
.missionFiller{
    height:25%;
}
.missionBox{
    background-color: var(--thirdColor);
    padding:2.5% 0px;
}
/*booking*/
.booking{
    background-color: var(--secondaryColor);
}
.bookingFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    position: relative;
    align-items: center;
    right:-50%;
    transform: translateX(-50%);
    gap:3vh;
}
.bookingButton,.bookingButtonH{
    padding: 0px 2vw;
    height: 20%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid var(--thirdColor);
    border-radius: 5000px;
    transition: ease-in-out .4s;
    cursor: pointer;
    color: black;
}
.bookingButtonH{
    position: relative;
    right:-50%;
    transform: translateX(-50%);
}
.bookingButtonA{
    width: 100%;
}
.bookingButton:hover, .bookingButtonH:hover{
    background-color: var(--thirdColor);
    color:white;

}
.bookingFiller{
    height:4vh;
}
.bookingPopup{
    display: none;
    position: fixed;
    width:100%;
    background-color: rgba(3, 1, 116, 1);
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    z-index: 4000;
    border: 1px solid  rgba(149, 151, 149, 0.644);
    animation-name:popUpFadeInBackground;
    animation-duration: .5s;
}
.bookingPopupShield{
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    background-color: rgba(244, 212, 118, .224);
    top:0px;
    border-radius: 50px;
    z-index: 3999;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    animation-name:popUpShieldFadeInBackground;
    animation-duration: .5s;
}
.bookingPopupClose{
    color:rgba(255, 255, 255, 1);
    width: 98%;
    text-align: right;
    margin-right: 2%;
    cursor: pointer;
    position: absolute;
    animation-name:popUpFadeInWords;
    animation-duration: .5s;
}
.bookingPopupTitle{
    text-align: center;
    color:rgba(255, 255, 255, 1);
    animation-name:popUpFadeInWords;
    animation-duration: .5s;
}
.bookingPopupFadeOutWords{
    animation-name:popUpFadeOutWords;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.bookingPopupFadeOutBackground{
    animation-name:popUpFadeOutBackground;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.popUpShieldFadeOutBackground{
    animation-name:popUpShieldFadeOutBackground;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes popUpFadeInWords{
    0%{ color:rgba(255, 255, 255, 0);
    }
    100%{color:rgba(255, 255, 255, 1);

    }
}
@keyframes popUpFadeInBackground{
    0%{ 
        background-color: rgba(3, 1, 116, 0);
        border: 1px solid  rgba(149, 151, 149, 0);
    }
    100%{
        background-color: rgba(3, 1, 116, 1);
        border: 1px solid  rgba(149, 151, 149, 0.644);
    }
}
@keyframes popUpShieldFadeInBackground{
    0%{ 
        background-color: rgba(244, 212, 118,0);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
    100%{
        background-color: rgba(244, 213, 118, 0.224);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}
/*fade-out*/
@keyframes popUpFadeOutWords{
    0%{ color:rgba(255, 255, 255, 1);
    }
    100%{color:rgba(255, 255, 255, 0);

    }
}
@keyframes popUpFadeOutBackground{
    0%{ 
        background-color: rgba(3, 1, 116, 1);
        border: 1px solid  rgba(149, 151, 149, 0.644);
    }
    100%{
        background-color: rgba(3, 1, 116, 0);
        border: 1px solid  rgba(149, 151, 149, 0);
    }
}
@keyframes popUpShieldFadeOutBackground{
    0%{ 
        background-color: rgba(244, 212, 118,0.224);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    100%{
        background-color: rgba(244, 213, 118, 0);
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }
}

/*footer*/
.footer{
    border-top: 1px solid rgba(149, 151, 149, 0.644);
    background: black;
}
.quickLinksTitle{
    color:white;
}
.quickLinksFlex{
    /* color:white;
    display: flex;
    flex-direction: row;
    width:100%;
    gap:1%;
    justify-content: center; */
    color:white;
    width:100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, max(150px, 100%/5)), 1fr));
    grid-template-rows:auto;
}
.quickLinksLink{
    cursor: pointer;
    transition: ease-in-out .4s;
}
.quickLinksLink:hover,.quickLinksLinkTwo:hover{
    color:var(--secondaryColor);
}
.quickLinksFlexTwo{
    color:white;
    display: flex;
    flex-direction: column;
    position: relative;
    right:-50%;
    transform: translateX(-50%);
    gap:1%;
    justify-content: center;
   padding-bottom: 2%;
}
.quickLinksLinkTwo{
    cursor: pointer;
    transition: ease-in-out .4s;
    text-align: center;
    margin: 0%;
}

.show{
    display: block;
}
/*global*/
.mobile, .mobileInlineblock,.mobileFlex,.mobileBrNav{
    display: none;
}

